body{
    background-color: #0D1B2A;
    color: #E0E1DD;
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    color: white; /* Gris claro */
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B263B;
    color: #E0E1DD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 6em;
}

#hr_header{
    margin: 0 0 0 0;
}

.title{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.sec_about_me{
    background-color: #415a77;
    color: #E0E1DD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Contiene: |Cont_img| y |con_text|*/
.con_about_me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5em 30em 5em 30em;
    width: 70em;
}

.con_about_me img{
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10%;
    transition: 1s ease;
}

.con_about_me img:hover{
    transition: 1s;
    border-radius: 17%;
}

.cont_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5em;
    background-color: #1B263B;
    color: #E0E1DD;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 1em;
    font-family: "Roboto", sans-serif;
    transition: 1s ease;
}
.cont_text:hover{
    background-color: rgb(31, 34, 51);
    transition: 1s ;
    border-radius: 3em ;
}

.con_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}

.paragraph{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0 2em 1em 2em;
    font-size: 1em;
}

#ramos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    background-color: rgb(80, 77, 77);
    width: 20em;
    height: 7em;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 0px black;
    margin-left: 18em;
}

#languajes{
    margin-top: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    background-color: rgb(80, 77, 77);
    width: 23em;
    height: 7em;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 0px black;
    margin-left: 17em;
}

#hr_about_me{
    margin: 0;
}

/* Portfolio and my works*/

.sec_portfolio_works{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.con_portfolio_works{
    display: flex;
    justify-content: space-between; /* Esto hace que los separe a cada extremo - alinea el eje x*/
    align-items: flex-start; /* esto hace que ambos arriba se alineen arriba - alinea eje y */
    padding: 5em 0 0 0;
    width: 100%;
    background-color: #1B263B;
    color: #E0E1DD;
}

.gh_image img{
    border-radius: 1em;
    margin: 3em 0 0 0;
    height: 30em;
    box-shadow: 0px 0px 10px 0px #0D1B2A;
}


.con_portfolio{
    display: flex;
    flex: 1; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  0 0 0 0;
    padding: 0 0 0 3em;
    border-right-style: solid;
    border-color: #E0E1DD;
    
}

#port_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2em;
}

#port_title h1{
    font-size: 2.5em;
    margin: 0 0 0 0;
}

.sub_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    color: #E0E1DD;
}

.sub_title h3{
    margin: 0 0 0 0;
}

.gh_img_desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 1em;
}

.gh_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 2em 1em 0 1em;
    width: 17em;
    font-family: "Roboto", sans-serif;
    color: #E0E1DD;
    text-align: center;
}

/* Works*/

.con_works{
    display: flex;
    flex: 1; /*Es para el espacio que ocupar치n las columnas*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#works_title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.works{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.work1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.work_imgs{
    display: flex;
    width: 15em;
}

#img1{
    width: 15em;
}

.desc1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em 0 3em;
    width: 35em;
    text-align: center;
}


.work2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;

    
}


#img2{
    width: 15em;
}

.desc2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em 0 3em;
    width: 35em;
    text-align: center;
}





/* Resposividad (Celular) */
@media (max-width: 768px ) {
/* Breakpoint para m칩viles medianos (iPhone 11, etc.) */
@media (max-width: 480px) {
    body {
        font-size: 15px;
    }
    .cont_text,
    .con_works,
    .works,
    .con_portfolio {
        width: 95vw;
        min-width: unset;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }
    .con_img img,
    .gh_image img {
        width: 50vw;
        height: auto;
        max-width: 100vw;
    }
    .desc1, .desc2, .gh_desc {
        width: 90vw;
        padding: 0;
    }

    #ramos{
        width: 75vw;
        font-size: 15px;
    }
    
    #languajes{
        width: 75vw;
        font-size: 15px;
        margin: 0 0 15em 0;
    }
}

/* Breakpoint para m칩viles peque침os (iPhone SE, etc.) */
@media (max-width: 375px) {
    body {
        font-size: 13px;
    }
    .cont_text,
    .con_works,
    .works,
    .con_portfolio {
        width: 99vw;
        padding: 0;
    }
    .con_img img,
    .gh_image img {
        width: 50vw;
        height: auto;
    }
    .desc1, .desc2 {
        width: 98vw;
        padding: 0;
    }

     .gh_desc p{
        margin-right: 20em;
     }

    #ramos, #languajes {
        width: 80vw;
        margin-left: 0;
        font-size: 13px;
    }
}

#header{
    height: 5em;
}

.sec_about_me{
    height: auto;
    width: 100%;
    padding: 2em 0;
    margin: 0;
}

.con_about_me{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.con_img{
    padding-top: 1em;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.con_img img {
    height: 25em;
    display: block;
}
.cont_text{
    width: 28.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 2.5em;
}

.con_title{
    width: 27em;
    padding: 2em 0 0 0 ;
    font-size: 1em;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.con_title h1{
    font-size: 21px;
}

.paragraph{
    margin: 0;
    width: 100%;
}

.paragraph p{
    padding: 0 2em;
    font-size: 23px;
}

.paragraph #mini-p{
    font-size: 23px;
}

.paragraph #mini-p2{
    font-size: 23px;
}

.paragraph #mini-p3{
    font-size: 23px;
}

#ramos{
    margin: 1em 0 1em 13%;
    font-size: 17px;
}

#languajes{
    margin: 2em 0 0 13%;
    font-size: 17px;
}



/*Contenido de trabajos y github*/

/*Github*/
.con_portfolio_works{
    flex-direction: column;
    padding: 3em 0 0 0;
    justify-content: center;
    align-items: center ;
}


.con_portfolio{
    height: 20em;
    width: 25.5em;
    padding: 0 0 0 0;
}

.gh_img_desc{   
    flex-direction: column;
    width: 18em;
    padding: 0 0 0 0;
}

#port_title{
    margin: 0;
    justify-content: center;
    align-items: center;
}

.gh_image{
    margin: 0;
    padding: 0;
}

.gh_image img{
    width: 19em;
    margin: 2em 0 0 0;     
}

.gh_desc p{
    margin: 0;   
}


.con_portfolio{
border-right-style: none;
width: 28.5em;
}


/*Trabajos (Se mantiene en column)*/
#works_title{
display: flex;
justify-content: center;
align-items: center;
}

.con_works{
    width: 28.5em
}

.works{
    display: flex;
    flex-direction: column;
    width: 28.5em;
}

.desc1{
    padding: 0 0 0 1em;
    width: 12em;
}

.desc1 h1{
    width: 10em;
    font-size: 1em;
}

.desc2{
    padding: 0em;
    width: 13em;
}

.desc2 h1{
    width: 10em;
    font-size: 1em;
}

.gh_desc{
    width: 13em;
    padding: 0;
}

.gh_desc p{
    padding-right: 0;
    font-size: 0.8em;
    width: 15em;
    padding: 2em 0 1em 0;
}

.projecttitle1{
    height: 1.5em;
    width: 4em;
}

}